<style>
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

}
.navbar-right{
    position: absolute;
    right: 0%;
    transform: translatex(-0%);
}
</style>
<nav class="navbar navbar-expand-lg  navbar-light fixed-top bg-white py-3 cd-main-nav js-main-nav " id="mainNav">
    
        
        <a class="navbar-brand js-scroll-trigger" href="#page-top">GOTICDZ</a>
        

        <button class="navbar-toggler navbar-toggler-right" 
        type="button" 
        data-toggle="collapse"
        data-target="#navbarResponsive" 
        aria-controls="navbarResponsive" 
        aria-expanded="false" 
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="navbar-nav row align-items-center">
                <ul class=" navbar-nav navbar-center navbar-nav ml-auto my-2 my-lg-0  cd-main-nav__list js-signin-modal-trigger">
                    <li class="nav-item" ><a class="nav-link js-scroll-trigger hack15-menu-button" href="#about" style="font-size: 18px;">About</a>
                    <li class="nav-item" ><a class="nav-link js-scroll-trigger hack15-menu-button" href="#tarifs" style="font-size: 18px;">Tarif</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger hack15-menu-button" href="#services"style="font-size: 18px;">Services</a></li>
                 <!--<li class="nav-item"><a class="nav-link js-scroll-trigger  hack15-menu-button"   href="{# %  anchor 'home' 'portfolio' # % #}" style="font-size: 21px;">Portfolio</a></li> -->
                    <li class="nav-item"><a class="nav-link js-scroll-trigger  hack15-menu-button"   href="#portfolio"style="font-size: 18px;">Portfolio</a></li>

                    <li class="nav-item"><a class="nav-link js-scroll-trigger hack15-menu-button" href="#contact"style="font-size: 18px;">Contact</a></li>
                </ul>

                <ul class="navbar-nav ml-auto my-2 my-lg-0  cd-main-nav__list js-signin-modal-trigger navbar-right">
                    <li class="nav-item"><a href="#0" data-signin="login" class="Loginbtn sentence btn navbar-btn ml-xs-2 ml-sm-2 px-md-4 px-sm-2 px-xs-1">Log in</a></li>               
                    <li class="nav-item"><a href="#0" data-signin="signup" class="signupbtn sentence btn px-md-4 px-sm-2 px-xs-1 navbar-btn ml-md-2 ml-sm-1 text-white btn-secondary">Sign up</a></li>
                </ul>
                
            </div>
        </div>
    
</nav>
--><!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#">Features</a>
      <a class="nav-link" href="#">Pricing</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>
-->